<%- include("partials/header") %>


<div class="heading">
    <h2>BASIC BANKING SYSTEM</h2>
</div>

<div class="heading">
    <h4>Developed by Garvit Chugh</h4>
</div>


<%- include("partials/footer") %>
